   /* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Joey";
  src: url('/css/fonts/');
  src: url('/css/fonts/?iefix') format('eot'), url('/css/fonts/Joey.otf') format('opentype');
}

@font-face {
  font-family: "Caput Bold";
  src: url('/css/fonts/');
  src: url('/css/fonts/?iefix') format('eot'), url('/css/fonts/caput_bold.otf') format('opentype');
}

/* line 3, ../sass/_slider.scss */
.slider > nav > div {
  z-index: 900;
}
/* line 7, ../sass/_slider.scss */
.slider .pages {
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* line 11, ../sass/_slider.scss */
.slider .pages > section {
  position: absolute;
  width: 100%;
  -moz-transition-property: left;
  -webkit-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  top: 0;
  left: 200%;
}
/* line 17, ../sass/_slider.scss */
.slider .pages > section.active {
  left: 0;
}
/* line 20, ../sass/_slider.scss */
.slider .pages > section.left {
  left: -100%;
}
/* line 23, ../sass/_slider.scss */
.slider .pages > section.right {
  left: 100%;
}

/* line 2, ../sass/_accordion.scss */
dl.accordion > dd {
  -moz-transition-property: max-height, margin-bottom;
  -webkit-transition-property: max-height, margin-bottom;
  -o-transition-property: max-height, margin-bottom;
  transition-property: max-height, margin-bottom;
  -moz-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  overflow: hidden;
}
/* line 7, ../sass/_accordion.scss */
dl.accordion > dt:not(.active) + dd {
  max-height: 0;
}
/* line 10, ../sass/_accordion.scss */
dl.accordion > dt.active + dd {
  max-height: 2999px;
}

/* line 1, ../sass/_defaults.scss */
p {
  margin: 10px 0;
}
/* line 3, ../sass/_defaults.scss */
p:first-child, p:last-child {
  margin: 0;
}

/* line 8, ../sass/_defaults.scss */
h1 {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 12, ../sass/_defaults.scss */
h1:first-child {
  margin-top: 0;
}
/* line 15, ../sass/_defaults.scss */
h1:last-child {
  margin-bottom: 0;
}

/* line 19, ../sass/_defaults.scss */
a {
  color: inherit;
  text-decoration: inherit;
  font: inherit;
}
/* line 21, ../sass/_defaults.scss */
a:hover, a:active {
  color: #e4ae46;
}

/* line 37, ../sass/screen.scss */
body {
  background-color: #161616;
  margin: 0;
  padding: 0;
  font-family: "Caput Bold";
  font-size: 14px;
  line-height: 1.4em;
  color: #c2c3ba;
}

/* line 46, ../sass/screen.scss */
#container {
  min-width: 320px;
  max-width: 875px;
  margin: 0 auto;
}

/* line 53, ../sass/screen.scss */
#footerbar {
  margin-top: 20px;
  font-size: 11px;
}
/* line 56, ../sass/screen.scss */
#footerbar > div {
  float: left;
}
/* line 59, ../sass/screen.scss */
#footerbar > nav {
  float: right;
}
/* line 61, ../sass/screen.scss */
#footerbar > nav > ul > li {
  float: left;
  margin: 0 10px;
}
/* line 64, ../sass/screen.scss */
#footerbar > nav > ul > li:hover, #footerbar > nav > ul > li.active {
  color: #e4ae46;
}

/* line 71, ../sass/screen.scss */
#headerbar, #footerbar, #precontentbar, #contentbar {
  height: 31px;
  overflow: hidden;
  *zoom: 1;
  color: #c2c3ba;
  margin-bottom: 5px;
  border-top: 1px solid #2d2c29;
  border-bottom: 1px solid #181817;
  background-color: #232320;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #1c1c19), color-stop(50%, #232320), color-stop(100%, #1c1c19));
  background-image: -webkit-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -moz-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -o-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -ms-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: linear-gradient(left, #1c1c19, #232320, #1c1c19);
}

/* line 78, ../sass/screen.scss */
#logobar img {
  float: right;
  margin: 50px 10px 20px 0;
}

/* line 84, ../sass/screen.scss */
#main {
  overflow: hidden;
  *zoom: 1;
  width: 875px;
}
/* line 87, ../sass/screen.scss */
#main > nav {
  color: #c2c3ba;
  margin-bottom: 5px;
  border-top: 1px solid #2d2c29;
  border-bottom: 1px solid #181817;
  background-color: #232320;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #1c1c19), color-stop(50%, #232320), color-stop(100%, #1c1c19));
  background-image: -webkit-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -moz-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -o-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -ms-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #232320), color-stop(100%, #1c1c19));
  background-image: -webkit-linear-gradient(top left, #232320, #1c1c19);
  background-image: -moz-linear-gradient(top left, #232320, #1c1c19);
  background-image: -o-linear-gradient(top left, #232320, #1c1c19);
  background-image: -ms-linear-gradient(top left, #232320, #1c1c19);
  background-image: linear-gradient(top left, #232320, #1c1c19);
  float: left;
  width: 150px;
  font-family: "Joey";
  font-size: 14px;
}
/* line 93, ../sass/screen.scss */
#main > nav ul {
  list-style: none;
}
/* line 95, ../sass/screen.scss */
#main > nav ul li {
  color: #c2c3ba;
  font-size: 13px;
  margin: 14px 0;
}
/* line 99, ../sass/screen.scss */
#main > nav ul li.active, #main > nav ul li:hover {
  color: #e4ae46;
}
/* line 104, ../sass/screen.scss */
#main > nav ul li:before {
  text-align: center;
  display: inline-block;
  width: 20px;
  content: '';
}
/* line 110, ../sass/screen.scss */
#main > nav ul li:hover:before, #main > nav ul li.active:before {
  content: '≡';
}
/* line 116, ../sass/screen.scss */
#main > nav ul li:first-child, #main > nav ul li:last-child {
  margin: 10px 0;
}
/* line 122, ../sass/screen.scss */
#main #content {
  float: right;
  width: 720px;
}
/* line 126, ../sass/screen.scss */
#main #content dl.accordion > dt {
  line-height: 31px;
  padding-left: 10px;
  font-size: 14px;
  color: #c2c3ba;
  margin-bottom: 5px;
  border-top: 1px solid #2d2c29;
  border-bottom: 1px solid #181817;
  background-color: #232320;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #1c1c19), color-stop(50%, #232320), color-stop(100%, #1c1c19));
  background-image: -webkit-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -moz-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -o-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -ms-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: linear-gradient(left, #1c1c19, #232320, #1c1c19);
}
/* line 131, ../sass/screen.scss */
#main #content dl.accordion > dt:hover:after, #main #content dl.accordion > dt.active:after {
  margin-left: -10px;
}
/* line 134, ../sass/screen.scss */
#main #content dl.accordion > dt:hover:after, #main #content dl.accordion > dt.active:after {
  display: block;
  margin-top: -3px;
  height: 3px;
  background-color: #fea343;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #b67938), color-stop(50%, #fea343), color-stop(100%, #b67938));
  background-image: -webkit-linear-gradient(left, #b67938, #fea343, #b67938);
  background-image: -moz-linear-gradient(left, #b67938, #fea343, #b67938);
  background-image: -o-linear-gradient(left, #b67938, #fea343, #b67938);
  background-image: -ms-linear-gradient(left, #b67938, #fea343, #b67938);
  background-image: linear-gradient(left, #b67938, #fea343, #b67938);
  content: '';
}
/* line 137, ../sass/screen.scss */
#main #content dl.accordion > dt.turquoise:hover:after, #main #content dl.accordion > dt.turquoise.active:after {
  display: block;
  margin-top: -3px;
  height: 3px;
  background-color: #478797;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #325c65), color-stop(50%, #478797), color-stop(100%, #325c65));
  background-image: -webkit-linear-gradient(left, #325c65, #478797, #325c65);
  background-image: -moz-linear-gradient(left, #325c65, #478797, #325c65);
  background-image: -o-linear-gradient(left, #325c65, #478797, #325c65);
  background-image: -ms-linear-gradient(left, #325c65, #478797, #325c65);
  background-image: linear-gradient(left, #325c65, #478797, #325c65);
  content: '';
}
/* line 140, ../sass/screen.scss */
#main #content dl.accordion > dt.pink:hover:after, #main #content dl.accordion > dt.pink.active:after {
  display: block;
  margin-top: -3px;
  height: 3px;
  background-color: #86648e;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #654c6a), color-stop(50%, #86648e), color-stop(100%, #654c6a));
  background-image: -webkit-linear-gradient(left, #654c6a, #86648e, #654c6a);
  background-image: -moz-linear-gradient(left, #654c6a, #86648e, #654c6a);
  background-image: -o-linear-gradient(left, #654c6a, #86648e, #654c6a);
  background-image: -ms-linear-gradient(left, #654c6a, #86648e, #654c6a);
  background-image: linear-gradient(left, #654c6a, #86648e, #654c6a);
  content: '';
}
/* line 143, ../sass/screen.scss */
#main #content dl.accordion > dt.blue:hover:after, #main #content dl.accordion > dt.blue.active:after {
  display: block;
  margin-top: -3px;
  height: 3px;
  background-color: #455395;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #333c68), color-stop(50%, #455395), color-stop(100%, #333c68));
  background-image: -webkit-linear-gradient(left, #333c68, #455395, #333c68);
  background-image: -moz-linear-gradient(left, #333c68, #455395, #333c68);
  background-image: -o-linear-gradient(left, #333c68, #455395, #333c68);
  background-image: -ms-linear-gradient(left, #333c68, #455395, #333c68);
  background-image: linear-gradient(left, #333c68, #455395, #333c68);
  content: '';
}
/* line 148, ../sass/screen.scss */
#main #content dl.accordion dd > dl.accordion dt {
  background-color: #e4ae46;
  background-image: none !important;
  border: 0 !important;
  color: #ececec;
}
/* line 150, ../sass/screen.scss */
#main #content dl.accordion dd > dl.accordion dt.turquoise {
  background-color: #3d8d99;
}
/* line 153, ../sass/screen.scss */
#main #content dl.accordion dd > dl.accordion dt.pink {
  background-color: #a37ca5;
}
/* line 156, ../sass/screen.scss */
#main #content dl.accordion dd > dl.accordion dt.blue {
  background-color: #5c79b6;
}
/* line 162, ../sass/screen.scss */
#main #content dl.accordion dd > dl.accordion dt.active {
  margin: 0;
}
/* line 168, ../sass/screen.scss */
#main #content .slider {
  color: #c2c3ba;
  margin-bottom: 5px;
  border-top: 1px solid #2d2c29;
  border-bottom: 1px solid #181817;
  background-color: #232320;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #1c1c19), color-stop(50%, #232320), color-stop(100%, #1c1c19));
  background-image: -webkit-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -moz-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -o-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -ms-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: linear-gradient(left, #1c1c19, #232320, #1c1c19);
}
/* line 170, ../sass/screen.scss */
#main #content .slider .pages {
  height: 650px;
}
/* line 172, ../sass/screen.scss */
#main #content .slider .pages img {
  width: 100%;
  max-width: 720px;
  display: block;
}
/* line 177, ../sass/screen.scss */
#main #content .slider .pages div {
  padding: 20px;
}
/* line 182, ../sass/screen.scss */
#main #content .slider nav div {
  text-align: center;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
/* line 186, ../sass/screen.scss */
#main #content .slider nav .next, #main #content .slider nav .prev {
  font-family: "Joey";
  font-size: 14px;
  background-color: #e4ae46;
  color: #ececec;
  font-size: 2.5em;
  width: 40px;
  height: 40px;
  line-height: 34px;
  vertical-align: baseline;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 196, ../sass/screen.scss */
#main #content .slider nav .next.disabled, #main #content .slider nav .prev.disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 200, ../sass/screen.scss */
#main #content .slider nav .next {
  float: right;
}
/* line 202, ../sass/screen.scss */
#main #content .slider nav .next:before {
  content: '→';
}
/* line 206, ../sass/screen.scss */
#main #content .slider nav .prev {
  float: left;
}
/* line 208, ../sass/screen.scss */
#main #content .slider nav .prev:before {
  content: '←';
}
/* line 212, ../sass/screen.scss */
#main #content .slider nav .page {
  line-height: 40px;
  width: 200px;
  margin: 0 auto;
}
/* line 216, ../sass/screen.scss */
#main #content .slider nav .page span {
  margin: 0 2px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 219, ../sass/screen.scss */
#main #content .slider nav .page span.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 226, ../sass/screen.scss */
#main #content .intro {
  color: #c2c3ba;
  margin-bottom: 5px;
  border-top: 1px solid #2d2c29;
  border-bottom: 1px solid #181817;
  background-color: #232320;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #1c1c19), color-stop(50%, #232320), color-stop(100%, #1c1c19));
  background-image: -webkit-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -moz-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -o-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -ms-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: linear-gradient(left, #1c1c19, #232320, #1c1c19);
  font-family: "Joey";
  font-size: 14px;
  padding: 20px;
  color: #e4ae46;
  font-size: 16px;
}
/* line 233, ../sass/screen.scss */
#main #content .news {
  color: #c2c3ba;
  margin-bottom: 5px;
  border-top: 1px solid #2d2c29;
  border-bottom: 1px solid #181817;
  background-color: #232320;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #1c1c19), color-stop(50%, #232320), color-stop(100%, #1c1c19));
  background-image: -webkit-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -moz-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -o-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -ms-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: linear-gradient(left, #1c1c19, #232320, #1c1c19);
  margin-bottom: 0;
}
/* line 236, ../sass/screen.scss */
#main #content .news .inside {
  padding: 20px;
}
/* line 239, ../sass/screen.scss */
#main #content .news:after {
  display: block;
  margin-top: -3px;
  height: 3px;
  background-color: #fea343;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #b67938), color-stop(50%, #fea343), color-stop(100%, #b67938));
  background-image: -webkit-linear-gradient(left, #b67938, #fea343, #b67938);
  background-image: -moz-linear-gradient(left, #b67938, #fea343, #b67938);
  background-image: -o-linear-gradient(left, #b67938, #fea343, #b67938);
  background-image: -ms-linear-gradient(left, #b67938, #fea343, #b67938);
  background-image: linear-gradient(left, #b67938, #fea343, #b67938);
  content: '';
}
/* line 242, ../sass/screen.scss */
#main #content .news header {
  font-family: "Joey";
  font-size: 14px;
  color: #ececec;
  font-size: 22px;
}
/* line 247, ../sass/screen.scss */
#main #content .news img {
  float: left;
  margin: 20px;
  margin-left: 0;
}
/* line 252, ../sass/screen.scss */
#main #content .news article {
  margin-top: 20px;
  font-size: 16px;
}
/* line 258, ../sass/screen.scss */
#main #content #firmenprofil input {
  background-color: transparent;
  border: 1px solid #e4ae46;
  color: #e4ae46;
}
/* line 263, ../sass/screen.scss */
#main #content #firmenprofil section {
  font-size: 16px;
}
/* line 268, ../sass/screen.scss */
#main #content #wir > div {
  color: #c2c3ba;
  margin-bottom: 5px;
  border-top: 1px solid #2d2c29;
  border-bottom: 1px solid #181817;
  background-color: #232320;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #1c1c19), color-stop(50%, #232320), color-stop(100%, #1c1c19));
  background-image: -webkit-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -moz-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -o-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: -ms-linear-gradient(left, #1c1c19, #232320, #1c1c19);
  background-image: linear-gradient(left, #1c1c19, #232320, #1c1c19);
  margin-bottom: 0;
}
/* line 271, ../sass/screen.scss */
#main #content #wir > div:after {
  display: block;
  margin-top: -3px;
  height: 3px;
  background-color: #fea343;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #b67938), color-stop(50%, #fea343), color-stop(100%, #b67938));
  background-image: -webkit-linear-gradient(left, #b67938, #fea343, #b67938);
  background-image: -moz-linear-gradient(left, #b67938, #fea343, #b67938);
  background-image: -o-linear-gradient(left, #b67938, #fea343, #b67938);
  background-image: -ms-linear-gradient(left, #b67938, #fea343, #b67938);
  background-image: linear-gradient(left, #b67938, #fea343, #b67938);
  content: '';
  margin-top: 10px;
}
/* line 276, ../sass/screen.scss */
#main #content #wir img {
  float: left;
  margin: 20px;
}
/* line 280, ../sass/screen.scss */
#main #content #wir header {
  margin-top: 20px;
  font-size: 22px;
  color: #ececec;
}

/* line 293, ../sass/screen.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 315, ../sass/screen.scss */
#corner_top {
  position: fixed;
  width: 0;
  height: 0;
  top: 0px;
  left: 0px;
  border-right-color: transparent !important;
  border-style: solid;
  border-width: 510px 80px 0 50px;
}
/* line 301, ../sass/screen.scss */
#corner_top.orange {
  border-color: #e4ae46;
}
/* line 304, ../sass/screen.scss */
#corner_top.blue {
  border-color: #5c79b6;
}
/* line 307, ../sass/screen.scss */
#corner_top.turquoise {
  border-color: #3d8d99;
}
/* line 310, ../sass/screen.scss */
#corner_top.pink {
  border-color: #a37ca5;
}

/* line 324, ../sass/screen.scss */
#corner_bottom {
  position: fixed;
  width: 0;
  height: 0;
  bottom: 0px;
  right: 0px;
  border-left-color: transparent !important;
  border-style: solid;
  border-width: 0 50px 510px 80px;
}
/* line 301, ../sass/screen.scss */
#corner_bottom.orange {
  border-color: #e4ae46;
}
/* line 304, ../sass/screen.scss */
#corner_bottom.blue {
  border-color: #5c79b6;
}
/* line 307, ../sass/screen.scss */
#corner_bottom.turquoise {
  border-color: #3d8d99;
}
/* line 310, ../sass/screen.scss */
#corner_bottom.pink {
  border-color: #a37ca5;
}

@media screen and (max-width: 1150px) {
  /* line 334, ../sass/screen.scss */
  #corner_bottom, #corner_top {
    display: none;
  }
}
@media screen and (max-width: 860px) {
  /* line 340, ../sass/screen.scss */
  #main {
    width: 100%;
  }
  /* line 342, ../sass/screen.scss */
  #main nav {
    width: 100%;
  }
  /* line 344, ../sass/screen.scss */
  #main nav ul {
    width: 100%;
  }
  /* line 346, ../sass/screen.scss */
  #main nav ul li {
    width: 16.667%;
    text-align: center;
    float: left;
    margin: 14px 0 !important;
  }
  /* line 351, ../sass/screen.scss */
  #main nav ul li:last-child {
    float: right;
  }
  /* line 358, ../sass/screen.scss */
  #main #content {
    clear: both;
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 580px) {
  /* line 383, ../sass/screen.scss */
  #main {
    width: 100%;
  }
  /* line 385, ../sass/screen.scss */
  #main nav {
    width: 100%;
  }
  /* line 387, ../sass/screen.scss */
  #main nav ul {
    width: 100%;
  }
  /* line 390, ../sass/screen.scss */
  #main nav ul li {
    width: 33.333%;
    text-align: center;
    float: left;
    margin: 14px 0 !important;
  }
  /* line 395, ../sass/screen.scss */
  #main nav ul li:nth-child(3n+2) {
    float: right;
  }
}
