/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_augmented_reset.scss */
a, a:link, a:active, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Joey";
  src: url('/css/fonts/');
  src: url('/css/fonts/?iefix') format('eot'), url('/css/fonts/Joey.otf') format('opentype');
}

/* line 19, ../sass/page_elements/_corners.scss */
#corner_top {
  position: absolute;
  width: 0;
  height: 0;
  top: 0%;
  left: 0%;
  border-right-color: transparent !important;
  border-style: solid;
  border-width: 510px 80px 0 50px;
}
/* line 5, ../sass/page_elements/_corners.scss */
#corner_top.orange {
  border-color: #e4ae46;
}
/* line 8, ../sass/page_elements/_corners.scss */
#corner_top.blue {
  border-color: #5c79b6;
}
/* line 11, ../sass/page_elements/_corners.scss */
#corner_top.turquoise {
  border-color: #3d8d99;
}
/* line 14, ../sass/page_elements/_corners.scss */
#corner_top.pink {
  border-color: #a37ca5;
}

/* line 28, ../sass/page_elements/_corners.scss */
#corner_bottom {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0%;
  right: 0%;
  border-left-color: transparent !important;
  border-style: solid;
  border-width: 0 50px 510px 80px;
}
/* line 5, ../sass/page_elements/_corners.scss */
#corner_bottom.orange {
  border-color: #e4ae46;
}
/* line 8, ../sass/page_elements/_corners.scss */
#corner_bottom.blue {
  border-color: #5c79b6;
}
/* line 11, ../sass/page_elements/_corners.scss */
#corner_bottom.turquoise {
  border-color: #3d8d99;
}
/* line 14, ../sass/page_elements/_corners.scss */
#corner_bottom.pink {
  border-color: #a37ca5;
}

/* line 22, ../sass/page_elements/_bars.scss */
.bar {
  margin-bottom: 5px;
  border-top: 1px solid #2d2c29;
  border-bottom: 1px solid #181817;
  background-color: #232320;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #1c1c19), color-stop(50%, #232320), color-stop(100%, #1c1c19));
  background-image: -webkit-linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  background-image: -moz-linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  background-image: -o-linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  background-image: -ms-linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  background-image: linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  height: 31px;
}

/* line 1, ../sass/page_elements/_smallpost.scss */
article.smallpost {
  margin-bottom: 5px;
  border-top: 1px solid #2d2c29;
  border-bottom: 1px solid #181817;
  background-color: #232320;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #1c1c19), color-stop(50%, #232320), color-stop(100%, #1c1c19));
  background-image: -webkit-linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  background-image: -moz-linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  background-image: -o-linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  background-image: -ms-linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  background-image: linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  font-family: "Joey";
  font-size: 16px;
  letter-spacing: 0.025em;
  line-height: 26px;
  margin-bottom: 0;
}
/* line 5, ../sass/page_elements/_smallpost.scss */
article.smallpost > header {
  font-family: "Joey";
  font-size: 18px;
  letter-spacing: 0.025em;
  line-height: 1em;
  color: #ececec;
  margin: 10px 20px;
}
/* line 10, ../sass/page_elements/_smallpost.scss */
article.smallpost > figure {
  display: inline-block;
  vertical-align: top;
  margin: 10px 20px;
  margin-top: 0;
}
/* line 15, ../sass/page_elements/_smallpost.scss */
article.smallpost > figure > img {
  width: 150px;
  height: auto;
}
/* line 20, ../sass/page_elements/_smallpost.scss */
article.smallpost > div {
  margin: 10px 20px;
  margin-left: 0;
  margin-top: 0;
  vertical-align: top;
  display: inline-block;
  width: 490px;
}
/* line 12, ../sass/page_elements/_bars.scss */
article.smallpost:after {
  display: block;
  margin-top: -3px;
  height: 3px;
  background-color: #fea343;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #b67938), color-stop(50%, #fea343), color-stop(100%, #b67938));
  background-image: -webkit-linear-gradient(left, #b67938, #fea343, #b67938);
  background-image: -moz-linear-gradient(left, #b67938, #fea343, #b67938);
  background-image: -o-linear-gradient(left, #b67938, #fea343, #b67938);
  background-image: -ms-linear-gradient(left, #b67938, #fea343, #b67938);
  background-image: linear-gradient(left, #b67938, #fea343, #b67938);
  content: '';
}

/* line 24, ../sass/screen.scss */
html {
  min-height: 100%;
}
/* line 26, ../sass/screen.scss */
html body {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background-color: #161616;
  color: #c2c3ba;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.025em;
  line-height: 26px;
}
/* line 42, ../sass/screen.scss */
html body > #container {
  width: 875px;
  margin: 0 auto;
}
/* line 1, ../sass/page_elements/_header.scss */
html body > #container > header {
  *zoom: 1;
}
/* line 2, ../sass/page_elements/_header.scss */
html body > #container > header > img {
  display: block;
  float: right;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
}
/* line 38, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
html body > #container > header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 1, ../sass/page_elements/_nav.scss */
html body > #container > nav {
  margin-bottom: 5px;
  border-top: 1px solid #2d2c29;
  border-bottom: 1px solid #181817;
  background-color: #232320;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #1c1c19), color-stop(50%, #232320), color-stop(100%, #1c1c19));
  background-image: -webkit-linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  background-image: -moz-linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  background-image: -o-linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  background-image: -ms-linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  background-image: linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  font-family: "Joey";
  font-size: 18px;
  letter-spacing: 0.025em;
  line-height: 1em;
  font-size: 14px;
  letter-spacing: 0.025em;
  line-height: 36px;
  width: 150px;
  display: inline-block;
  margin-bottom: 36px;
}
/* line 10, ../sass/page_elements/_nav.scss */
html body > #container > nav > ul {
  list-style-type: none;
}
/* line 12, ../sass/page_elements/_nav.scss */
html body > #container > nav > ul > li {
  margin-left: 10px;
}
/* line 14, ../sass/page_elements/_nav.scss */
html body > #container > nav > ul > li.active, html body > #container > nav > ul > li:hover, html body > #container > nav > ul > li a:hover {
  color: #e4ae46;
}
/* line 19, ../sass/page_elements/_nav.scss */
html body > #container > nav > ul > li:before {
  text-align: center;
  display: inline-block;
  width: 10px;
  content: '';
}
/* line 25, ../sass/page_elements/_nav.scss */
html body > #container > nav > ul > li:hover:before, html body > #container > nav > ul > li.active:before {
  content: '≡';
}
/* line 1, ../sass/page_elements/_content.scss */
html body > #container > #content {
  position: relative;
  vertical-align: top;
  width: 720px;
  display: inline-block;
  margin-bottom: 36px;
}
/* line 1, ../sass/page_elements/_footer.scss */
html body > #container > footer {
  margin-bottom: 5px;
  border-top: 1px solid #2d2c29;
  border-bottom: 1px solid #181817;
  background-color: #232320;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #1c1c19), color-stop(50%, #232320), color-stop(100%, #1c1c19));
  background-image: -webkit-linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  background-image: -moz-linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  background-image: -o-linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  background-image: -ms-linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  background-image: linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  font-family: "Joey";
  font-size: 18px;
  letter-spacing: 0.025em;
  line-height: 1em;
  position: absolute;
  bottom: 0%;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 1em;
  width: 100%;
  max-width: 875px;
}
/* line 13, ../sass/page_elements/_footer.scss */
html body > #container > footer > div {
  float: left;
  margin: 5px 20px;
}
/* line 17, ../sass/page_elements/_footer.scss */
html body > #container > footer > nav {
  margin: 5px 20px;
  float: right;
}
/* line 20, ../sass/page_elements/_footer.scss */
html body > #container > footer > nav > ul {
  list-style-type: none;
}
/* line 22, ../sass/page_elements/_footer.scss */
html body > #container > footer > nav > ul > li {
  display: inline-block;
  margin: 0 20px;
}
/* line 25, ../sass/page_elements/_footer.scss */
html body > #container > footer > nav > ul > li.active, html body > #container > footer > nav > ul > li:hover, html body > #container > footer > nav > ul > li a:hover {
  color: #e4ae46;
}
/* line 28, ../sass/page_elements/_footer.scss */
html body > #container > footer > nav > ul > li:last-child {
  margin-right: 0;
}
/* line 1, ../sass/page_elements/_intro.scss */
html body .intro {
  margin-bottom: 5px;
  border-top: 1px solid #2d2c29;
  border-bottom: 1px solid #181817;
  background-color: #232320;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #1c1c19), color-stop(50%, #232320), color-stop(100%, #1c1c19));
  background-image: -webkit-linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  background-image: -moz-linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  background-image: -o-linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  background-image: -ms-linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  background-image: linear-gradient(top left, #1c1c19, #232320, #1c1c19);
  color: #e4ae46;
  padding: 10px 20px;
}
/* line 5, ../sass/page_elements/_intro.scss */
html body .intro > header {
  font-family: "Joey";
  font-size: 18px;
  letter-spacing: 0.025em;
  line-height: 1em;
  margin-bottom: 10px;
}
/* line 9, ../sass/page_elements/_intro.scss */
html body .intro > p {
  font-family: "Joey";
  font-size: 16px;
  letter-spacing: 0.025em;
  line-height: 26px;
}
