a, a:link, a:active, a:hover, a:visited {
	text-decoration: none;
	color: inherit;
}

ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

li {
	margin-left: $padding_horizontal;
}

p {
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
	margin: $padding_vertical 0;
}

