$width: 875px;
$spacing: 20px;
$bar_height: 31px;

// ci colors
$ci_background: #161616;
$ci_orange: #e4ae46;
$ci_gray: #292b28;
$ci_lightgray: #c2c3ba;
$ci_white: #ececec;
$ci_blue: #5c79b6;
$ci_turquoise: #3d8d99;
$ci_pink: #a37ca5;

// corner thingys
$corner_height: 510px;
$corner_width_wide: 130px;
$corner_width_narrow: 50px;

// gradients / highlights
$gradient_lightorange: #fea343;
$gradient_darkorange: #b67938;
$gradient_lightgray: #232320;
$gradient_darkgray: #1c1c19;
$gradient_darkturquoise: #325c65;
$gradient_lightturquoise: #478797;
$gradient_darkblue: #333c68;
$gradient_lightblue: #455395;
$gradient_darkpink: #654c6a;
$gradient_lightpink: #86648e;
$box_3d_highlight: #2d2c29;
$box_3d_shadow: #181817;

// navigation
$nav_width: 150px;
$nav_font_size: 13px;
$nav_spacing: 14px;
$nav_num_items: 6;

// accordion
$accordion_underline_height: 3px;
$accordion_animation_duration: 0.6s;

// slider
$slider_slide_duration: 1s;
$slider_fade_duration: 0.5s;
$slider_button_size: 40px;
$slider_button_radius: 3px;

// font sizes
$accordion_header_font_size: 14px;
$h1_size: 22px;
$opener_size: 14px;
$normal_size: 14px;


