p {
	margin: 10px 0;
	&:first-child, &:last-child {
		margin: 0;
	}
}

h1 {
	font-size: $h1_size;
	margin-top: 10px;
	margin-bottom: 10px;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
a {
	color: inherit;
	text-decoration: inherit;
	font: inherit;
}
