@import "compass/css3/font-face";


@include font-face("Joey", font-files("Joey.otf", opentype), "");
@include font-face("Caput Bold", font-files("caput_bold.otf", opentype), "");

@mixin Joey {
	font-family: "Joey";
	font-size: $normal_size;
}

@mixin CaputBold {
	font-family: "Caput Bold";
	font-size: $normal_size;
}
