@import "compass/css3/font-face";


@include font-face("Joey", font-files("Joey.otf", opentype), "");
// @include font-face("Caput Bold", font-files("caput_bold.otf", opentype), "");

@mixin headline-text-style {
	font-family: "Joey";
	font-size: $header_size;
	letter-spacing: $header_letter_spacing;
	line-height: $header_line_height;
}

@mixin normal-text-style {
	font-family: "Ubuntu";
	font-weight: 400;
	font-size: $normal_size;
	letter-spacing: $normal_letter_spacing;
	line-height: $normal_line_height;
}

@mixin opener-text-style {
	font-family: "Ubuntu";
	font-weight: 700;
	font-size: $opener_size;
	letter-spacing: $opener_letter_spacing;
	line-height: $opener_line_height;
}
