/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/border-radius";

@import "_config.scss";
@import "_augmented_reset.scss";
@import "_fonts.scss";

@import "plugins/_slider.scss";
@import "plugins/_accordion.scss";

@import "page_elements/_corners.scss";
@import "page_elements/_bars.scss";
@import "page_elements/_smallpost.scss";
@import "page_elements/_employee.scss";
@import "page_elements/_accordion.scss";
@import "page_elements/_slider.scss";
@import "page_elements/_intro.scss";
@import "page_elements/_header.scss";
@import "page_elements/_nav.scss";
@import "page_elements/_content.scss";
@import "page_elements/_footer.scss";

@import "_links.scss";

html {
	min-height: 100%;
	body {
		// This is a dirty hack to make the body
		// at least as high as the viewport
		// (but grow if it needs to)
		position: absolute;
		top: 0;
		left: 0;
		min-height: 100%;
		width: 100%;

		// Now back to our regular program
		background-color: $ci_background;
		color: $ci_lightgray;
		padding: 0;
		margin: 0;
		@include normal-text-style;
		> #container {
			width: $container_width;
			@media screen and (max-width: 880px) {
				width: 100%;
			}
			margin: 0 auto;
		}
	}
}










//===============================================
/*

body {
	background-color: $ci_background;
	margin: 0;
	padding: 0;
	@include NormalText;
	line-height: 1.4em;
	color: $ci_lightgray;
}

#container {
	min-width: 320px;
	max-width: $width;
	margin: 0 auto;

}

#footerbar {
	margin-top: 20px;
	font-size: 11px;
	> div {
		float: left;
	}
	> nav {
		float: right;
		> ul > li {
			float: left;
			margin: 0 10px;
			&:hover, &.active {
				color: $ci_orange;
			}
		}
	}
}

#headerbar, #footerbar, #precontentbar, #contentbar {
	height: $bar_height;
	@include clearfix;
	@include box;
	line-height: $bar_height;
}

#logobar {
	img {
		float: right;
		margin: 50px 10px 20px 0;
	}
}

#main {
	@include clearfix;
	width: $width;
	> nav {
		@include box;
		@include background-image(linear-gradient(top left, $gradient_lightgray, $gradient_darkgray));
		float: left;
		width: $nav_width;
		@include HeadlineText;
		ul {
			list-style: none;
			li {
				color: $ci_lightgray;
				font-size: $nav_font_size;
				margin: $nav_spacing 0;
				&.active, &:hover {
					color: $ci_orange;
				}
				// This is for the appearing
				// asdf symbol on hover
				&:before {
					text-align: center;
					display: inline-block;
					width: 20px;
					content: '';
				}
				&:hover:before, &.active:before {
					content: '≡';
				}
				// First and last nav element are not
				// supposed to have big spacings.
				// (Collapsing finally makes sense!)
				&:first-child, &:last-child {
					margin: 10px 0;
				}
			}
		}
	}
	#content {
		float: right;
		width: 720px;
		}
		.slider {
			@include box;
			.pages {
				height: 650px;
				section {
					@include NormalText;
					&:first-child {
						@include OpenerText;
					}
					img {
						width: 100%;
						max-width: 720px;
						display: block;
						margin: 0 auto;
					}
					div {
						> br:first-child {
							display: none;
						}
						padding: $spacing;
					}
				}
			}
			nav {
				div {
					text-align: center;
					@include single-transition("opacity", $slider_fade_duration, ease-in-out, 0);
				}
				.next, .prev {
					@include HeadlineText;
					background-color: $ci_orange;
					color: $ci_white;
					font-size: 2.5em;
					width: $slider_button_size;
					height: $slider_button_size;
					line-height: $slider_button_size - 2*$slider_button_radius;
					vertical-align: baseline;
					@include border-radius($slider_button_radius);
					&.disabled {
						@include opacity(0);
					}
				}
				.next {
					float: right;
					&:before {
						content: '→'
					}
				}
				.prev {
					float: left;
					&:before {
						content: '←'
					}
				}
				.page {
					line-height: $slider_button_size;
					width: 200px;
					margin: 0 auto;
					span {
						margin: 0 2px;
						@include opacity(0.5);
						&.active {
							@include opacity(1.0);
						}
					}
				}
			}
		}
		.intro {
			@include box;
			@include HeadlineText;
			padding: $spacing;
			color: $ci_orange;
			font-size: $opener_size;
		}
		.news, .wir {
			@include box;
			margin-bottom: 0;
			.inside {
				padding: $spacing;
			}
			&:after {
				@include boxactive;
			}
			header {
				@include HeadlineText;
				color: $ci_white;
			}
			figure {
				display: inline-block;
				margin: $spacing;
				margin-left: 0;
				height: 100%;
				img {
					display: block;
				}
			}
			article {
				@include OpenerText;
				display: inline-block;
				vertical-align: top;
				margin-top: $spacing;
				width: 70%;
			}
		}
		#firmenprofil {
			input {
				background-color: transparent;
				border: 1px solid $ci_orange;
				color: $ci_orange;
			}
			section {
				font-size: $opener_size;
			}
		}
		#agb {
			dd {
				div {
					@include box;
					padding: $spacing;
					> ol > li > p {
						font-weight: 700;
					}
					ol {
						list-style-type: decimal;
						list-style-position: outside;
						li {
							margin-left: $spacing;
						}
					}
					// white-space: pre;
				}
			}
		}
	}
}



.clearfix {
	@include legacy-pie-clearfix;
}

@mixin corner_common {
	position: fixed;
	width: 0;
	height: 0;
	&.orange {
		border-color: $ci_orange;
	}
	&.blue {
		border-color: $ci_blue;
	}
	&.turquoise {
		border-color: $ci_turquoise;
	}
	&.pink {
		border-color: $ci_pink;
	}
}

#corner_top {
	@include corner_common;
	top: 0px;
	left: 0px;
	border-right-color: transparent !important;
	border-style: solid;
	border-width: $corner_height ($corner_width_wide - $corner_width_narrow) 0 $corner_width_narrow;
}

#corner_bottom {
	@include corner_common;
	bottom: 0px;
	right: 0px;
	border-left-color: transparent !important;
	border-style: solid;
	border-width: 0 $corner_width_narrow $corner_height ($corner_width_wide - $corner_width_narrow);
}

// Too small to show corners
@media screen and (max-width: 1150px) {
	#corner_bottom, #corner_top {
		display: none;
	}
}

// To small to have nav next to the content
@media screen and (max-width: 860px) {
	#precontentbar {
		display: none;
	}
	#main {
		width: 100%;
		nav {
			width: 100%;
			ul {
				width: 100%;
				li {
					width: 100%/$nav_num_items;
					text-align: center;
					float: left;
					margin: $nav_spacing/2 0 !important;
					&:last-child {
						float:right;
					}
				}
			}
		}

		#content {
			clear: both;
			float: none;
			width: 100%;
			.news, .wir {
				figure {
					display: block;
					height: auto;
					float: left;
					img {
						display: block;
					}
				}
				article {
					display: block;
					width: 100%;
				}
			}
		}
	}
}

// Too small to have nav in one row
@media screen and (max-width: 580px) {
	#main {
		width: 100%;
		nav {
			width: 100%;
			ul {
				$num_items_per_row: $nav_num_items/2;
				width: 100%;
				li {
					width: 100%/$num_items_per_row;
					text-align: center;
					float: left;
					margin: $nav_spacing/4 0 !important;
					&:nth-child(#{$num_items_per_row}n+2) {
						float:right;
					}
				}
			}
		}
	}
}
*/
