---
layout: main
menu: about
corners: orange
---
<dl class="accordion">
	<dt class="active">
		<div>
			Firmenprofil
		</div>
	</dt>
	<dd>
		<dl id="firmenprofil"  class="accordion">
			{% for post in site.posts %}
				{% if post.categories contains "firmenprofil" %}
					<dt>
						<div>{{post.title}}</div>
					</dt>
					{% include bigpost.html %}
				{% endif %}
			{% endfor %}
		</dl>
	</dd>
	<dt>
		<div>Wir</div>
	</dt>
	<dd>
		<div>
			{% for post in site.posts %}
				{% if post.categories contains "wir" %}
					{% include smallpost.html %}
				{% endif %}
			{% endfor %}
		</div>
	</dd>
</dl>

