---
layout: main
menu: about
corners: orange
---
<dl class="accordion">
	<dt id="firmenprofil">
		<div>
			Firmenprofil
		</div>
	</dt>
	<dd>
		<dl class="accordion">
			{% for post in site.posts %}
				{% if post.categories contains "firmenprofil" %}
					<dt id="{{post.keyword | downcase}}" {% if post.image == nil %}class="noimg"{% endif %}>
						<div>{{post.title}}</div>
					</dt>
					{% include bigpost.html %}
				{% endif %}
			{% endfor %}
		</dl>
	</dd>
	<dt id="wir">
		<div>Wir</div>
	</dt>
	<dd>
		<div>
			{% for post in site.posts %}
				{% if post.categories contains "wir" %}
					{% include employee.html %}
				{% endif %}
			{% endfor %}
		</div>
	</dd>
	<dt id="referenzen">
		<div>Referenzen</div>
	</dt>
	<dd>
		<dl class="accordion">
			{% for post in site.posts %}
				{% if post.categories contains "referenzen" %}
					{% include reference.html %}
				{% endif %}
			{% endfor %}
		</dt>
	</dd>
</dl>

