---
layout: main
menu: news
corners: orange
---
<div id="precontentbar" class="bar"></div>
<article class="intro">
	{% for post in site.posts %}
		{% if post.categories contains "intro" %}
			<header>{{ post.title }}</header>
			{{ post.content }}
		{% endif %}
	{% endfor %}
</article>

{% for post in site.posts %}
	{% if post.categories contains "news" %}
		{% include smallpost.html %}
	{% endif %}
{% endfor %}

<dl class="accordion closed">
	<dt>
		<div>Archiv</div>
	</dt>
	<dd>
		<dl class="accordion">
			<dt>
				<div>2010</div>
			</dt>
			<dd>
				{% for post in site.posts %}
					{% if post.categories contains "archiv" %}
						{% include smallpost.html %}
					{% endif %}
				{% endfor %}
			</dd>
		</dl>
	</dd>
</dl>
