---
layout: main
menu: news
corners: orange
---
<div id="precontentbar" class="bar">
	<a href="/feed.xml" target="_blank">
		<div id="rss"></div>
	</a>
</div>
<article class="intro">
	{% for post in site.posts %}
		{% if post.categories contains "intro" %}
			<header>{{ post.title }}</header>
			{{ post.content }}
		{% endif %}
	{% endfor %}
</article>
{% capture current_year %}{{site.time | date: "%Y"}}{% endcapture %}
{% for post in site.posts %}
	{% capture post_age %}{{post.date | date: "%Y" | minus: current_year}}{% endcapture %}
	{% if ((post.categories contains "news") and (post_age == "0")) or (post.categories contains "noarchive") %}
		{% include smallpost.html %}
	{% endif %}
{% endfor %}

<dl class="accordion closed">
	<dt>
		<div>Archiv</div>
	</dt>
	<dd>
		<dl class="accordion">
			{% capture last_year %}{{site.time | date: "%Y" | minus: 1}}{% endcapture %}
			{% for year in (2010..last_year) %}
				<dt>
					<div>{{year}}</div>
				</dt>
				<dd>
					{% for post in site.posts %}
						{% capture post_age %}{{ post.date | date: "%Y" | minus: year }}{% endcapture %}
						{% if (post_age == "0") and ((post.categories contains "news") or post.categories contains "archiv")) %}
							{% include smallpost.html %}
						{% endif %}
					{% endfor %}
				</dd>
			{% endfor %}
		</dl>
	</dd>
</dl>
