---
layout: main
menu: Portfolio
corners: turquoise
---
<dl id="portfolio" class="accordion">
	<dt class="turquoise active">Hardware</dt>
	<dd>
		<dl class="accordion">
			{% for post in site.posts %}
				{% if post.categories contains "hardware" %}
					<dt class="turquoise">{{post.title}}</dt>
					{% include projectpost.ext %}
				{% endif %}
			{% endfor %}
		</dl>
	</dd>
	<dt class="pink">Software</dt>
	<dd>
		<dl class="accordion">
			{% for post in site.posts %}
				{% if post.categories contains "software" %}
					<dt class="pink">{{post.title}}</dt>
					{% include projectpost.ext %}
				{% endif %}
			{% endfor %}
		</dl>
	</dd>
	<dt class="blue">Consulting</dt>
	<dd>
		<dl class="accordion">
			{% for post in site.posts %}
				{% if post.categories contains "consulting" %}
					<dt class="blue">{{post.title}}</dt>
					{% include projectpost.ext %}
				{% endif %}
			{% endfor %}
		</dl>
	</dd>
</dl>

