---
layout: main
menu: portfolio
corners: turquoise
---
<dl id="portfolio" class="accordion">
	<dt id="hardware" class="turquoise">
		<div>Hardware</div>
	</dt>
	<dd>
		<dl class="accordion">
			{% for post in site.posts %}
				{% if post.categories contains "hardware" %}
					<dt id="{{post.keyword | downcase}}" class="turquoise {% if post.image == nil %}noimg{% endif %}">
						<div>{{post.title}}</div>
					</dt>
					{% include bigpost.html %}
				{% endif %}
			{% endfor %}
		</dl>
	</dd>
	<dt id="software" class="pink">
		<div>Software</div>
	</dt>
	<dd>
		<dl class="accordion">
			{% for post in site.posts %}
				{% if post.categories contains "software" %}
					<dt id="{{post.keyword | downcase}}" class="pink {% if post.image == nil %}noimg{% endif %}">
						<div>{{post.title}}</div>
					</dt>
					{% include bigpost.html %}
				{% endif %}
			{% endfor %}
		</dl>
	</dd>
	<dt id="consulting" class="blue">
		<div>Consulting</div>
	</dt>
	<dd>
		<dl class="accordion">
			{% for post in site.posts %}
				{% if post.categories contains "consulting" %}
					<dt id="{{post.keyword | downcase}}" class="blue {% if post.image == nil %}noimg{% endif %}">
						<div>{{post.title}}</div>
					</dt>
					{% include bigpost.html %}
				{% endif %}
			{% endfor %}
		</dl>
	</dd>
</dl>

