---
layout: main
menu: service
corners: orange
---
<dl class="accordion">
	<dt id="faq">
		<div>
			FAQ
		</div>
	</dt>
	<dd>
		<dl class="accordion">
			<dt>
				<div id="asdf">asdf</div>
			</dt>
			<dd>
				<dl class="accordion">
					{% for post in site.posts %}
						{% if post.categories contains "faq" and post.categories contains "asdf" %}
							<dt>
								<div>{{post.title}}</div>
							</dt>
							<dd>
								<div>
									{{ post.content | newline_to_br | markdownify }}
								</div>
							</dd>
						{% endif %}
					{% endfor %}
				</dl>
			</dd>
			<dt>
				<div id="jobs">Jobs</div>
			</dt>
			<dd>
				<dl class="accordion">
					{% for post in site.posts %}
						{% if post.categories contains "faq" and post.categories contains "jobs" %}
							<dt>
								<div>{{post.title}}</div>
							</dt>
							<dd>
								<div>
									{{ post.content | newline_to_br | markdownify }}
								</div>
							</dd>
						{% endif %}
					{% endfor %}
				</dl>
			</dd>
			<dt>
				<div id="syncsuite">syncSuite</div>
			</dt>
			<dd>
				<dl class="accordion">
					{% for post in site.posts %}
						{% if post.categories contains "faq" and post.categories contains "syncsuite" %}
							<dt>
								<div>{{post.title}}</div>
							</dt>
							<dd>
								<div>
									{{ post.content | newline_to_br | markdownify }}
								</div>
							</dd>
						{% endif %}
					{% endfor %}
				</dl>
			</dd>
		</dl>
	</dd>
	<dt id="downloads">
		<div>Downloads</div>
	</dt>
	<dd>
		<dl class="accordion">
			<dt>
				<div>Wallpaper</div>
			</dt>
			<dd>
				<div>
					{% for post in site.posts %}
						{% if post.categories contains "downloads" and post.categories contains "wallpaper" %}
							{% include download.html %}
						{% endif %}
					{% endfor %}
				</div>
			</dd>
		</dl>
	</dd>
	<dt id="links">
		<div>Links</div>
	</dt>
	<dd>
		<div>
			<dl class="accordion">
				{% for post in site.posts %}
					{% if post.categories contains "links" %}
						{% include link.html %}
					{% endif %}
				{% endfor %}
			</dt>
		</div>
	</dd>
</dl>

