---
layout: main
menu: Werkstatt
corners: orange
---
<dl id="werkstatt" class="accordion">
	<dt class="active">Werkstatt</dt>
	<dd>
		<div class="slider">
            <section>
	            <img src="/img/werkstatt/werkstatt.png">
	            Willkommen in unserer Bastelstube.

				Auf unserer kreativen Spielwiese für Entwickler entstehen aus den Experimenten von heute
				unsere Projekte von morgen! Oder aber die Erkenntnis viel Spaß gehabt zu haben...

				Wir haben uns in den Kopf gesetzt auch ungewöhnliche Wege zu beschreiten
				und dafür kann man nicht immer nur auf ausgetretenen Pfaden eine Abkürzung suchen.
	        </section>
	    </div>
	</dd>
	<dt>2010</dt>
	<dd>
		<dl class="accordion">
			{% for post in site.posts %}
			    {% if post.categories contains "werkstatt" and {{post.date | date: "%Y" }} == "2010" %}
					<dt>{{post.title}}</dt>
			    	{% include projectpost.ext %}
			    {% endif %}
			{% endfor %}
    	</dl>
	</dd>
</dl>

