> dt {
	z-index: 900;
	@include headline-text-style;
	margin-bottom: 0;
	font-size: $accordion_l1_header_font_size;
	letter-spacing: $accordion_l1_letter_spacing;
	line-height: $accordion_l1_line_height;
	> div {
		padding: 0 $padding_horizontal;
	}
	@include box-style;
	&:before {
		display: block;
		content: '';
		background-image: url('/img/statics.png');
		background-position: -1*$sprite_arrow_normal_position_x -1*$sprite_arrow_down;
		width: $sprite_arrow_ud_width;
		height: $sprite_arrow_ud_height;
		margin-right: $padding_horizontal;
		margin-top: ($accordion_l1_line_height - $sprite_arrow_ud_height) / 2;
		float: right;
		@include opacity(0.4);
	}
	&.active:before {
		background-position: -1*$sprite_arrow_normal_position_x -1*$sprite_arrow_up;
	}
	&:hover, &.active {
		@include box-active-style($gradient_lightorange, $gradient_darkorange);
	}
	&.turquoise:hover, &.turquoise.active {
		@include box-active-style($gradient_lightturquoise, $gradient_darkturquoise);
	}
	&.pink:hover, &.pink.active {
		@include box-active-style($gradient_lightpink, $gradient_darkpink);
	}
	&.blue:hover, &.blue.active {
		@include box-active-style($gradient_lightblue, $gradient_darkblue);
	}
}
> dd {
	width: 100%;
}
