dt {
	position: relative;
	z-index: 10;
	font-size: $accordion_l2_header_font_size;
	letter-spacing: $accordion_l2_letter_spacing;
	line-height: $accordion_l2_line_height;
	background-color: transparentize($ci_orange, $accordion_l2_transparency);
	border: 0;
	&.turquoise {
		background-color: transparentize($ci_turquoise, $accordion_l2_transparency);
	}
	&.pink {
		background-color: transparentize($ci_pink, $accordion_l2_transparency);
	}
	&.blue {
		background-color: transparentize($ci_blue, $accordion_l2_transparency);
	}
	background-image: none !important;
	margin-bottom: 0;
	color: $accordion_l2_text_color;
	&.active, &:hover {
		color: $accordion_l2_active_color;
		&:after {
			background-color: transparent !important;
			background-image: none !important;
		}
	}
	// If there’s no image in the post, or if it’s
	// a smallpost, there’s no negative-margin-magic to worry about
	&.noimg + dd {
		margin-top: 0;
		margin-bottom: $spacing;
		max-height: 0;
		.slider {
			.pages {
				section:not(.page-0) {
					padding-top: 0;
				}
			}
		}
	}
}
