dd {
	// Negative-margin-magic to make the post’s
	// image appear underneath the semi-transaprent
	// headebar
	position: relative;
	z-index: 0;
	margin-bottom: $spacing;
	.slider {
		margin-bottom: 0;
	}
}
article.smallpost:first-child {
	padding-top: $accordion_header_height;
}
