dl.accordion {
	> dt {
		z-index: 900;
		@include headline-text-style;
		margin-bottom: 0;
		font-size: $accordion_l1_header_font_size;
		letter-spacing: $accordion_l1_letter_spacing;
		line-height: $accordion_l1_line_height;
		> div {
			padding: 0 $padding_horizontal;
		}
		@include box-style;
		&:before {
			font-size: $accordion_button_size;
			margin-right: $padding_horizontal;
			float: right;
			content: '↓';
			@include opacity(0.4);
		}
		&.active:before {
			content: '↑';
		}
		&:hover, &.active {
			@include box-active-style($gradient_lightorange, $gradient_darkorange);
		}
		&.turquoise:hover, &.turquoise.active {
			@include box-active-style($gradient_lightturquoise, $gradient_darkturquoise);
		}
		&.pink:hover, &.pink.active {
			@include box-active-style($gradient_lightpink, $gradient_darkpink);
		}
		&.blue:hover, &.blue.active {
			@include box-active-style($gradient_lightblue, $gradient_darkblue);
		}
	}
	dd {
		> dl.accordion {
			dt {
				position: relative;
				z-index: 10;
				font-size: $accordion_l2_header_font_size;
				letter-spacing: $accordion_l2_letter_spacing;
				line-height: $accordion_l2_line_height;
				background-color: transparentize($ci_orange, $accordion_l2_transparency);
				border: 0;
				&.turquoise {
					background-color: transparentize($ci_turquoise, $accordion_l2_transparency);
				}
				&.pink {
					background-color: transparentize($ci_pink, $accordion_l2_transparency);
				}
				&.blue {
					background-color: transparentize($ci_blue, $accordion_l2_transparency);
				}
				background-image: none !important;
				margin-bottom: 0;
				color: $ci_lightgray;
				&.active, &:hover {
					color: $ci_white;
					&:after {
						background-color: transparent !important;
						background-image: none !important;
					}
				}
				// If there’s no image in the post, or if it’s
				// a smallpost, there’s no negative-margin-magic to worry about
				&.noimg + dd {
					margin-top: 0;
					max-height: 0;
					.slider {
						.pages {
							section:not(.page-0) {
								padding-top: 0;
							}
						}
					}
				}
				+ dd > article.smallpost:first-child {
					padding-top: $accordion_header_height;
				}
			}
			dd {
				// Negative-margin-magic to make the post’s
				// image appear underneath the semi-transaprent
				// headebar
				max-height: $accordion_header_height;
				position: relative;
				z-index: 0;
				margin-top: -$accordion_header_height;
				margin-bottom: $spacing;
				.slider {
					margin-bottom: 0;
					.pages {
						section:not(.page-0) {
							padding-top: $accordion_header_height;
						}
					}
				}
			}
		}
	}
}
