@mixin corner_common {
	position: absolute;
	background-image: url('/img/statics.png');
	@media screen and (max-width: 1150px) {
		display: none;
	}
}

#corner_top {
	@include corner_common;
	top: 0%;
	left: 0%;
	width: $corner_top_width;
	height: $corner_top_height;
	&.orange {
		background-position: -1*$corner_orange_index*$corner_sprite_width 0;
	}
	&.turquoise {
		background-position: -1*$corner_turquoise_index*$corner_sprite_width 0;
	}
	&.blue {
		background-position: -1*$corner_blue_index*$corner_sprite_width 0;
	}
	&.pink {
		background-position: -1*$corner_pink_index*$corner_sprite_width 0;
	}
}

#corner_bottom {
	@include corner_common;
	bottom: 0%;
	right: 0%;
	width: $corner_bottom_width;
	height: $corner_bottom_height;
	&.orange {
		background-position: -1*$corner_orange_index*$corner_sprite_width -1*$corner_top_height;
	}
	&.turquoise {
		background-position: -1*$corner_turquoise_index*$corner_sprite_width -1*$corner_top_height;
	}
	&.blue {
		background-position: -1*$corner_blue_index*$corner_sprite_width -1*$corner_top_height;
	}
	&.pink {
		background-position: -1*$corner_pink_index*$corner_sprite_width -1*$corner_top_height;
	}
}
