// These are only overrides for the .smallpost class
article.download {
	figure {
		margin: $padding_vertical $padding_horizontal;
	}
	div {
		@include small-text-style;
		header {
			margin: 0;
			margin: $padding_vertical 0;
			display: inline-block;
		}
		aside {
			display: inline-block;
			float: right;
		}
	}

	// Clearfix sets display to "table", which
	// destroys the separator between downloads
	@include pie-clearfix;
	&:after {
		display: block;
	}
}
