.slider {
	@include box-style;
	margin-bottom: 0;
	.pages {
		section {
			@include normal-text-style;
			&.page-0 {
				@include opener-text-style;
			}
			img, iframe {
				width: 100%;
				max-width: 720px;
				display: block;
				margin: 0 auto;
			}

			div {
				> br:first-child {
					display: none;
				}
				padding: $padding-vertical $padding-horizontal;
			}
		}
	}
	nav {
		div {
		text-align: center;
			@include single-transition("opacity", $slider_fade_duration, ease-in-out, 0);
		}
		.next, .prev {
			@include headline-text-style;
			color: $ci_white;
			border: 0;
			border-style: solid;
			border-color: $ci_orange;
			padding: 0 $padding_horizontal;
			height: $opener_size;
			&.disabled {
				@include opacity(0);
			}
			&:before {
				display: block;
				width: $sprite_arrow_big_width;
				height: $sprite_arrow_big_height;
				background-image: url('/img/statics.png');
				margin-top: ($opener-size - $sprite_arrow_big_height) / 2;
			}
		}
		.next {
			border-right-width: $slider_arrow_border;
			float: right;
			&:before {
				background-position: -1*$sprite_arrow_normal_position_x -1*$sprite_arrow_big_right;
				content: ''
			}
			&:hover:before {
				background-position: -1*$sprite_arrow_active_position_x -1*$sprite_arrow_big_right;
			}
		}
		.prev {
			border-left-width: $slider_arrow_border;
			float: left;
			&:before {
				background-position: -1*$sprite_arrow_normal_position_x -1*$sprite_arrow_big_left;
				content: ''
			}
			&:hover:before {
				background-position: -1*$sprite_arrow_active_position_x -1*$sprite_arrow_big_left;
			}
		}
		.page {
			width: 200px;
			margin: 0 auto;
			span {
				margin: 0 2px;
				@include opacity(0.5);
				&.active {
					@include opacity(1.0);
				}
			}
		}
		@include pie-clearfix;
	}
}
