body.about {
	dl.accordion {
		@import "page_elements/_accordion_header.scss";
		dt#firmenprofil, dt#wir {
			+ dd dl.accordion {
				@import "page_elements/_accordion_l2_header.scss";
			}
		}
		dt#referenzen + dd > div {
			@include box-style;
			dl.accordion {
				padding: $padding_vertical $padding_horizontal;
				@import "page_elements/_accordion_l3_header.scss";
				dt {
					.name {
						color: $ci_white;
					}
					.location {
						color: $ci_lightgray;
						margin-left: $spacing;
					}
					&:after {
						display:block;
						content: '';
						width: 80%;
						height: $accordion_underline_height;
					}
					&.active, &:hover {
						.name {
							color: $ci_orange;
						}
						@include box-active-style;
						&:after {
							margin-top: 0;
						}
					}
					&:before {
						display: none;
					}
					div.marker {
						display: block;
						@include opacity(0.2);
						width: 6px;
						height: 9px;
						float: right;
						padding: 0;
						margin: 0 $spacing;
					}
					div.marker.software {
							background-image: url('/img/minilogo_pink.png');
					}
					div.marker.hardware {
							background-image: url('/img/minilogo_turquoise.png');
					}
					div.marker.consulting {
							background-image: url('/img/minilogo_blue.png');
					}
					&.software > div.software {
						@include opacity(1.0);
					}
					&.hardware > div.hardware {
						@include opacity(1.0);
					}
					&.consulting > div.consulting {
						@include opacity(1.0);
					}
				}
				dd {
					@include box-active-style;
					@include small-text-style;
					width: 80%;
					&:after {
						margin-top: 0;
					}
					div.projects {
						div {
							display: inline-block;
							margin-right: $spacing;
							text-align: center;
							> a {
								&:before {
									display: none;
								}
								> img {
									display: block;
									width: $references_img_width;
									height: $references_img_height;
									border: 4px solid transparent;
									margin-top: $padding_vertical;
								}
							}
							&.software img {
								border-color: $ci_pink;
							}
							&.hardware img {
								border-color: $ci_turquoise;
							}
							&.consulting img {
								border-color: $ci_blue;
							}
						}
					}
				}
			}
		}
	}
}
